<div>
  <mat-form-field appearance="fill" style="width: 100px;">
    <mat-label>Mode</mat-label>
    <mat-select [formControl]="mode">
      <mat-option value="Move">Move</mat-option>
      <mat-option value="Link">Link</mat-option>
      <mat-option value="Run">Run</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [cdkMenuTriggerFor]="create_menu" class="example-standalone-trigger">Create</button>
  <ng-template #create_menu>
    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem (click)="createNode()">Host</button>
      <button class="example-menu-item" cdkMenuItem>Switch</button>
      <button class="example-menu-item" cdkMenuItem>Router</button>
    </div>
  </ng-template>
</div>
<svg 
  dragBehavior 
  (dragNode)="drag($event)"
  (dragNodeEnd)="dragEnd($event)"
  width="100%" height="100%">
  @if (selectLine) {
    <line
      [attr.x1]="selectLine.x1" 
      [attr.y1]="selectLine.y1" 
      [attr.x2]="selectLine.x2" 
      [attr.y2]="selectLine.y2" 
      stroke="black">
    </line>
  }
  @for (adjacency of graph.getAdjacencyList(); track adjacency) {
    @for (node of adjacency[1]; track node) {
      <line
        [attr.x1]="adjacency[0].x" 
        [attr.y1]="adjacency[0].y" 
        [attr.x2]="node.x" 
        [attr.y2]="node.y"
        stroke="black">
      </line>
    }
  }
  @for (node of graph.getVertices(); track node) {
    <!-- 
    <circle nodeBehavior
      [node]="vertex"
      (nodeSelected)="selectNode($event)"     
      [attr.cx]="vertex.x" 
      [attr.cy]="vertex.y" 
      fill="steelblue"
      stroke="black"
      r="10"
      [cdkContextMenuTriggerFor]="context_menu"
      (contextmenu)="onContextMenu($event, vertex)">
    </circle>
    -->
    <svg:g switch transform="translate(100 100)" dragBehavior/>
  }
</svg>

<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>IO Graph</button>
    <button class="example-menu-item" cdkMenuItem>Configuration</button>
    <button class="example-menu-item" cdkMenuItem>Packet Capture</button>
    <button class="example-menu-item" cdkMenuItem>Console</button>
    <button class="example-menu-item" cdkMenuItem (click)="deleteNode()">Delete</button>
  </div>
</ng-template>