<svg appEdge class="svg" width="1000" height="400" (edgeDragMoved)="this.nodeService.isEdgeMode ? this.nodeService.edgeDragMoved($event) : null" (edgeDragStopped)="this.nodeService.isEdgeMode ? this.nodeService.edgeDragStopped($event) : null">

@for(node of this.nodeService.getNodes(); track node.id) {
	<svg:circle cdkDrag appEdge cdkDragBoundary=".svg" (edgeDragStarted)="this.nodeService.isEdgeMode ? this.nodeService.edgeDragStarted($event) : null" [cdkDragFreeDragPosition]="node.position" (cdkDragMoved)="!this.nodeService.isEdgeMode ? this.nodeService.nodeDragMoved($event) : null" [cdkDragDisabled]="this.nodeService.isEdgeMode" [attr.id]="node.id" r="10" [cdkContextMenuTriggerFor]="context_menu"></svg:circle>
	@for(edge of node.edges; track edge.dst) {
		<svg:line [attr.x1]="node.position.x" [attr.y1]="node.position.y" [attr.x2]="edge.dst!='' ? this.nodeService.getNodeByID(edge.dst)!.position.x : 0" [attr.y2]="edge.dst!='' ? this.nodeService.getNodeByID(edge.dst)!.position.y : 0" stroke="black"></svg:line>
	}
}

@if (this.nodeService.isEdgeMode && this.nodeService.fakeSrcNode != undefined && this.nodeService.fakeDstNode != undefined) {
	<svg:line [attr.x1]="this.nodeService.fakeSrcNode.position.x" [attr.y1]="this.nodeService.fakeSrcNode.position.y" [attr.x2]="this.nodeService.fakeDstNode.position.x" [attr.y2]="this.nodeService.fakeDstNode.position.y" stroke="black"></svg:line>
}

<g app-toolbar></g>

</svg>

<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem [cdkMenuTriggerFor]="test">Type</button>
    <button class="example-menu-item" cdkMenuItem>Configuration</button>
    <button class="example-menu-item" cdkMenuItem (click)="false">Packet Capture</button>
  </div>
</ng-template>

<ng-template #test>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Share</button>
    <button class="example-menu-item" cdkMenuItem>Open</button>
    <button class="example-menu-item" cdkMenuItem>Make a Copy</button>
    <hr />
  </div>
</ng-template>