<svg id="time-graph"></svg>
<div>
  <label>Set Interval (ms): </label>
  <input type="range" [formControl]="intervalControl" min="100" max="10000">
</div>
<div>
  <label>X Zoom: </label>
  <input type="range" [formControl]="xControl" min="1" max="10">
</div>
<div>
  <label>Y Zoom: </label>
  <input type="range" [formControl]="yControl" min="2" max="10">
</div>
<div>
  Analog Signal Generator <button (click)="createSignal()">+</button>
  @for (signal of signals; track signal) {
    <div style="margin-left: 50px">
      <label>Amplitude: </label>
      <input type="range" min="1" max="10">
      <label>Phase: </label>
      <input type="range" min="1" max="10">
      <label>Frequency (Hz): </label>
      <input type="range" min="1" max="10">
      <label>Color: </label>
      <input type="color">
    </div>
  }
</div>
<div>
  Digital Signal Generator <button>+</button>
  @for (signal of signals; track signal) {
    <div style="margin-left: 50px">
      <label>Coding Scheme: </label>
      <select>
        <option>BPSK</option>
        <option>QAM</option>
      </select>
      <label>Message: </label>
      <input>
    </div>
  }
<div>
  <button>Audio Interface</button>
</div>
<div>
  <button>Restart Clock</button>
</div>