<svg id="io-graph"></svg>
<canvas width="640" height="480"></canvas>
<!--
<svg #svg width="300" height="150">
    <polyline [style.transform]="xAxis.transform + yAxis.transform + xAxis.scale + yAxis.scale" [attr.points]="points" stroke="black" fill="none"></polyline>
    <line [style.transform]="xAxis.transform + xAxis.scale" [attr.x1]="xAxis.x1" [attr.y1]="xAxis.y1" [attr.x2]="xAxis.x2" [attr.y2]="xAxis.y2" stroke="black"></line>
    <line [style.transform]="yAxis.transform + yAxis.scale" [attr.x1]="yAxis.x1" [attr.y1]="yAxis.y1" [attr.x2]="yAxis.x2" [attr.y2]="yAxis.y2" stroke="black"></line>
    <text x="100" y="100">{{currenttime-starttime}}</text>
</svg>
-->