<div class="graph-container">
  <svg width="800" height="600">
    <g id="graphGroup">
      <g id="edges"></g>
      <g id="nodes"></g>
      <g id="labels"></g>
    </g>
  </svg>
</div>

<div *ngIf="isModalVisible" class="modal-overlay">
  <div class="modal-content">
    <h3>Node Details</h3>
    <p>Interfaces: {{ selectedNode?.interfaces?.length }}</p>
    <button (click)="closeModal()">Close</button>
  </div>
</div>

<div class="command-line-container">
  <input type="text" [(ngModel)]="command" (keydown.enter)="executeCommand()" placeholder="Enter command..." />
  <div class="command-output">
    <pre [innerHTML]="commandOutput"></pre>
  </div>
</div>