
<mat-toolbar color="primary">
  <span>My Application</span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/music">Music</button>
    <button mat-menu-item routerLink="/network">Network</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>


<!--
  <ul>
    <li></li>
    <li><a routerLink="/packet-capture" routerLinkActive="active" ariaCurrentWhenActive="page">Packet Capture</a></li>
    <li><a routerLink="/io-graph" routerLinkActive="active" ariaCurrentWhenActive="page">IO Graph</a></li>
    <li><a routerLink="/d3" routerLinkActive="active" ariaCurrentWhenActive="page">D3 Fun</a></li>
    <li><a routerLink="/network-graph" routerLinkActive="active" ariaCurrentWhenActive="page">Network Graph</a></li>
    <li><a routerLink="/music" routerLinkActive="active" ariaCurrentWhenActive="page">Music</a></li>
    <li><a routerLink="/tone" routerLinkActive="active" ariaCurrentWhenActive="page">Tone</a></li>
    <li><a routerLink="/clock" routerLinkActive="active" ariaCurrentWhenActive="page">Clock</a></li>
  </ul>
-->


