<!--
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/network" routerLinkActive="active" ariaCurrentWhenActive="page">Network Topology</a></li>
    <li><a routerLink="/packet-capture" routerLinkActive="active" ariaCurrentWhenActive="page">Packet Capture</a></li>
  </ul>
</nav>
-->
<router-outlet></router-outlet>

<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/network" routerLinkActive="active" ariaCurrentWhenActive="page">Network Topology</a></li>
    <li><a routerLink="/packet-capture" routerLinkActive="active" ariaCurrentWhenActive="page">Packet Capture</a></li>
    <li><a routerLink="/io-graph" routerLinkActive="active" ariaCurrentWhenActive="page">IO Graph</a></li>
    <li><a routerLink="/d3" routerLinkActive="active" ariaCurrentWhenActive="page">D3 Fun</a></li>
    <li><a routerLink="/network-graph" routerLinkActive="active" ariaCurrentWhenActive="page">Network Graph</a></li>
    <li><a routerLink="/music" routerLinkActive="active" ariaCurrentWhenActive="page">Music</a></li>
    <li><a routerLink="/tone" routerLinkActive="active" ariaCurrentWhenActive="page">Tone</a></li>
  </ul>
</nav>


