<div>
    Key <select>
        @for (note of fundamentalNotes; track note; let i = $index) {
            <option>{{ note }}</option>
        }
    </select>
    Scale <select>
        <option>Major</option>
        <option>Minor</option>
        <option>Minor Pentatonic</option>
        <option>Major Pentatonic</option>
    </select>
</div>
<svg width="1000" height="600" id="graph-container">
    @for (string of strings; track string; let i = $index) {
        <svg:line x1="100" attr.y1="{{ 100 + i*35 }}" x2="850" attr.y2="{{ 100 + i*35 }}" stroke="black"></svg:line>
    }
    @for (note of guitarNotes; track note; let i = $index) {
        <svg:circle attr.cx="{{ 100 + mathTrunc(i/6)*35 }}" attr.cy="{{ 100 + i%6*35 }}" r="15" fill="steelblue"></svg:circle>
        <svg:text attr.x="{{ 100 + mathTrunc(i/6)*35 - 10 }}" attr.y="{{ 100 + i%6*35 + 5 }}">{{ note }}</svg:text>
    }
    @for (fret of frets; track fret; let i = $index) {
        <svg:text attr.x="{{ 100 + i*35 - 10 }}" attr.y="{{ 80 }}">{{ i }}</svg:text>
    }
</svg>